<%= t(:congrats) %>

<ul>
  <% @issues.each do |issue| -%>
    <li><%= h issue[:title] %></li>
  <% end -%>
</ul>

<%= t(:were_imported) %> <%= link_to @project.name, @project_url %>.
<br />
<%= t(:can_find_html, :link => link_to(t(:here), @issues_url)) %>.
