<tr class='<%= cycle("even", "odd")%>' align='center' valign='top'>
  <td>
    <%= check_box_tag("import[tasks][#{index}][import]", '1', true, {class: 'import'}) %>
  </td>
  <td>
    <%= hidden_field_tag "import[tasks][#{index}][tid]", h(task.tid) %>
    <%= hidden_field_tag "import[tasks][#{index}][level]", h(task.level) %>
    <%= hidden_field_tag "import[tasks][#{index}][outlinenumber]", h(task.outlinenumber) %>
    <%= hidden_field_tag "import[tasks][#{index}][estimated_hours]", h(task.estimated_hours) if task.estimated_hours %>
    <%= hidden_field_tag "import[tasks][#{index}][description]", h(task.description) if task.description %>
    <%= hidden_field_tag "import[tasks][#{index}][delays]", h(task.delays.join(', ')) %>
    <%= hidden_field_tag "import[tasks][#{index}][milestone]", h(task.milestone) %>
    <%= hidden_field_tag "import[tasks][#{index}][predecessors]", h(task.predecessors.join(', ')) %>
    <%= hidden_field_tag "import[tasks][#{index}][status_id]", h(task.status_id) %>
    <%= hidden_field_tag "import[tasks][#{index}][spent_hours]", h(task.spent_hours) unless ignore_field?(:spent_hours, :import) %>
    <%= text_field_tag "import[tasks][#{index}][uid]", h(task.uid), readonly: true, style: 'width:3em' %>
  </td>
  <td align="left" class="task_subject">
    <span class='dup-index'><%= duplicate_index(task.subject) %></span>
    <%= text_field_tag "import[tasks][#{index}][subject]", h(task.subject), {size: 50, class: :task_subject} %>
  </td>
  <td align="left">
    <%= loader_tracker_select_tag @project, task.tracker_name, index %>
  </td>
  <td align="left">
    <%= text_field_tag "import[tasks][#{index}][start_date]", h(task.start_date), {type: :date, size: 10, class: 'start_date'} %>
  </td>
  <% unless ignore_field?(:due_date, :import) %>
    <td align="left">
      <%= text_field_tag "import[tasks][#{index}][due_date]", h(task.due_date), {type: :date, size: 10, class: 'end_date'} %>
    </td>
  <% end %>
  <% unless ignore_field?(:done_ratio, :import) %>
    <td align="left">
      <%= loader_percent_select_tag task.done_ratio, index %>
    </td>
  <% end %>
  <td>
    <%= loader_user_select_tag @project, task.assigned_to, index %>
  </td>
  <% unless ignore_field?(:priority, :import) %>
    <td>
      <%= loader_priority_select_tag task.priority, index %>
    </td>
  <% end %>
  <td>
    <%= check_box_tag("import[tasks][#{index}][is_private]", '1', @is_private_by_default, {class: :is_private}) %>
  </td>
  <td>
    <%= h(task.predecessors.join(', ')) %>
  </td>
</tr>
