<%= form_tag({:action => 'analyze', :id => @project, :upload_path => @upload_path, :do_import => 'true'}, :multipart => true) do %>
  <fieldset class="box">
    <legend><%= l(:label_import_rule) %></legend>
    <label>
      <%= l(:label_default_tracker) %>
      <%= select_tag "default_tracker",
        options_from_collection_for_select(@project.trackers, 'id', 'name', Setting.plugin_redmine_project_xml_sync[:import][:tracker_id]) %>
    </label>
  </fieldset>
  <p>
  <%= submit_tag l(:button_import)%>
  </p>
<% end %>

<h2>Project Import Details for <%= @project.name %></h2>
<p>
<b><%= l(:project_title)%>:</b> <%= @title %>
</p>

<p>
<h3>User Mapping</h3>
<% @usermapping.each do |user| %>
  Resource_ID: <%= user[0]%> Original Name: <%= user[1]%> Map to: <%= user[2]%><br>
<% end %>
</p>

<p>
<h3><%= l(:assignment_tag)%></h3>
<table>
  <tr>
    <th><%= l(:task_tag)%></th>
    <th><%= l(:xml_assignment)%></th>
    <th><%= l(:assignedto_auto)%></th>
    <th>Info</th>
  </tr>
  <% 
  @assignments.each do |assign|
    task = @tasks.select { |task| task.task_id == assign.task_uid}
    assigned_to = @usermapping.select {|id, user| id == assign.resource_uid}[0]
    unless task.nil? || assigned_to.nil?
  %>
      <tr>
        <td><%= task[0].name unless task[0].nil? %></td>
        <td><%= assigned_to[1] %></td>
        <td><%= assigned_to[2].name if assigned_to[3] <= 2 %></td>
       <td><%= I18n.t('user_imp_status_' + assigned_to[3].to_s)%></td>
      </tr>	
    <% end %>
  <% end %>
</table>
</p>

<p>
<h3><%= l(:task_tag)%></h3>
<% @tasks.each do |task| %>
  <%= task.name %> WBS:<%= task.wbs %>
  <% unless task.tracker.nil? %> tracker:<%= task.tracker %><% end %>
  <% unless task.redmine_id.nil? %> redmine_id:<%= task.redmine_id %><% end %>
  <% unless task.redmine_status.nil? %> redmine_status:<%= task.redmine_status %><% end %>
  <% unless task.redmine_version.nil? %> redmine_version:<%= task.redmine_version %><% end %>
  <% unless task.redmine_category.nil? %> redmine_category:<%= task.redmine_category %><% end %>
  <br>
<% end %>
</p>