<%= javascript_include_tag :project_xml_sync, plugin: 'redmine_project_xml_sync' %>
<%= stylesheet_link_tag 'project_xml_sync', plugin: 'redmine_project_xml_sync' %>
<h1><%= l(:import_tasks) %></h1>
<%= form_for(:import, {url: project_loader_path, html: {id: 'import', multipart: true}}) do |f| %>
  <%= hidden_field_tag "hashed_name", @import.hashed_name %>
  <% if @import.tasks.any? %>
    <p><%= l(:about_analyzed) %></p>
    <%= content_tag :p, l(:warning_text).html_safe,  class: 'dup', align: "center", colspan: 5 if @duplicates.any? %>
    <table border="0" cellspacing="0" cellpadding="2" align="center" class="bulk_task_import">
      <tr valign="middle" align="center" class="info">
        <th><%= link_to_function(l(:import), 'toggleCheckboxesSelection(this);', class: 'import') %>
        <th>UID</th>
        <th><%= l(:name) %></th>
        <th><%= l(:tracker) %></th>
        <th><%= link_to_function(l(:start_date), 'clearDates(this);', class: 'start_date') %></th>
        <th><%= link_to_function(l(:end_date), 'clearDates(this);', class: 'end_date') %></th>
        <%= content_tag(:th, '%') unless ignore_field?(:done_ratio, :import) %></th>
        <th><%= l(:assigned_to) %></th>
        <%= content_tag(:th, l(:priority)) unless ignore_field?(:priority, :import) %>
        <th><%= link_to_function(l(:field_is_private), 'toggleCheckboxesSelection(this);', class: 'is_private') %></th>
        <th><%= l(:requires) %></th>
      </tr>
      <% @import.tasks.each_with_index do |task, index| %>
        <%= render partial: 'task', locals: {task: task, index: index} %>
      <% end %>
      <tr>
        <td align="right" colspan="8">
          <%= check_box_tag :update_existing, "1", true, class: :update_existing %>
          <%= label_tag :update_existing, t(:update_existing), {class: :update_existing} %>
        </td>
        <td align="right" colspan="10"><%= f.submit(l(:import_selected), {name: 'import[import_selected]'}) %></td>
        <td><%= link_to(l(:back), new_project_loader_path) %></td>
      </tr>
    </table>
  <% end %>
  <%= content_tag :p, t(:duplicates_warning, ids: @unprocessed_task_ids.join(', ')), align: 'center' if @unprocessed_task_ids.any? %>
<% end %>
