<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'project_xml_sync', :plugin => 'redmine_project_xml_sync' %>
<% end %>

<% content_for :update_issue_javascript do %>
  <script type='text/javascript'>
    $(function() {
      $('#update_issue').change(function() {
        $('#journal_field').attr('disabled', !this.checked)
        $('#update_other_project').attr('disabled', !this.checked)
        $('#ignore_non_exist').attr('disabled', !this.checked)
      }).change();
    })
  </script>
<% end %>

<h2><%= l(:label_match_columns) %></h2>

<%= form_tag({:action => 'csv_import_results', :id => @project, :import_timestamp => @import_timestamp}, {:multipart => true}) do %>
  <fieldset class="box">
    <legend><%= l(:label_match_select) %></legend>
    <% @headers.each do |column| %>
      <% col = force_utf8(column) %>
      <label class="tabular">
        <%= col %>:
        <%= select_tag "fields_map[#{col}]",
          raw("<option value=\"\">#{l(:option_ignore)}</option>") +
            options_for_select( @attrs, matched_attrs(column) ) %>
      </label>
    <% end %>
  </fieldset>

  <fieldset class="box">
    <legend><%= l(:label_import_rule) %></legend>
    <label>
      <%= l(:label_default_tracker) %>
      <%= select_tag "default_tracker",
        options_from_collection_for_select(@project.trackers, 'id', 'name', Setting.plugin_redmine_project_xml_sync[:import][:tracker_id]) %>
    </label>
    <br/>
    <label>
      <%= l(:label_unique_field) %>
      <%= select_tag "unique_field",
        raw("<option value=\"\">#{l(:option_ignore)}</option>") +
        options_for_select(@headers.map{|header| force_utf8(header)}) %>
    </label>
    <br/>
    <label>
      <%= check_box_tag "send_emails", true, false %>
      <%= l(:label_importer_send_emails) %>
    </label>
    <br/>
    <label>
      <%= check_box_tag "add_categories", true, true %>
      <%= l(:label_importer_add_categories) %>
    </label>
    <br/>
    <label>
      <%= check_box_tag "add_versions", true, true %>
      <%= l(:label_importer_add_versions) %>
    </label>
    <br/>
    <label>
      <%= check_box_tag "use_anonymous", true, true %>
      <%= l(:label_importer_use_anonymous) %>
    </label>
    <br/>
    <label>
      <%= check_box_tag "use_issue_id", true, false %>
      <%= l(:label_importer_issue_ids) %>
    </label>
    <br/>
    <label>
      <%= check_box_tag "update_issue", true, false %>
      <%= l(:label_update_issue) %>
    </label>
    <br/>

    <%= yield :update_issue_javascript %>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <label>
      <%= l(:label_journal_field) %>
      <%= select_tag "journal_field",
        raw("<option value=\"\">#{l(:option_ignore)}</option>") +
        options_for_select(@headers.map{|header| force_utf8(header)}),
        {:disabled => true} %>
    </label>
    <br/>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <label>
      <%= check_box_tag "update_other_project", true, false, {:disabled => true} %>
      <%= l(:label_update_other_project) %>
    </label>
    <br/>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <label>
      <%= check_box_tag "ignore_non_exist", true, false, {:disabled => true} %>
      <%= l(:label_ignore_non_exist) %>
    </label>
    <br/>
  </fieldset>

  <%= submit_tag l(:button_import) %>
  <br/>
<% end %>

<hr/>

<%= l(:label_toplines, @original_filename) %>
<table class="list">
  <thead>
    <tr>
      <% @headers.each do |column| %>
        <th><%= force_utf8(column) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @samples.each do |issue| -%>
      <tr class="<%= cycle("odd", "even") %>">
        <% issue.each do |column| %>
          <% column[1] = force_utf8(column[1]) if column[1].kind_of?(String) %>
          <%= content_tag 'td', column[1] %>
        <% end %>
      </tr>
    <% end %>
    <tr class="<%= cycle("odd", "even") %>">
      <% @headers.each do |column| %><td>...</td><% end %>
    </tr>
  </tbody>
</table>
