<h2>Project Import - Results:</h2> 
<% root_issues = Issue.where(:root_id => params[:root_task], :parent_id => nil) %>
<p>
Alle Aufgaben wurden importiert unter:<br />
<% root_issues.each do |root_issue| %>
  <%= link_to "#{root_issue.subject}(#{root_issue.id})", {:controller => "issues", :action => "show", :id => issue} %><br />
<% end %>
</p>

<h2>Details for <%= @project.name %>:</h2>
<p>
<b><%= l(:project_title)%>:</b> <%= @title %>
</p>
<p>
<h3>Imported Tasks:</h3>
<% issues = Issue.where(:root_id => params[:root_task]) %>
<table class="list">
  <tr>
    <th><%= l(:task_tag)%></th>
    <th>assigned to</th>
    <th>Info</th>
  </tr>
  <%
  issues.each do |task|
    if task.assigned_to_id.nil? || task.assigned_to_id == 0
      user="Not assigned!"
      css_td="warning"
    else
      css_td="success"
      user=User.find(task.assigned_to_id)
    end
  %>
    <tr class="issue idnt idnt-<%=issue_deep(task)%>">
      <td class="subject"><%= link_to "#{task.subject}(#{task.id})", {:controller => "issues", :action => "show", :id => task} %></td>
      <td class="assigned_to <%=css_td%>"><%= user%></td>
      <td></td>
    </tr>
  <%end%>
</table>
</p>