<% content_for :header_tags do %>
  <%= javascript_include_tag "project_xml_sync", :plugin=>'redmine_project_xml_sync' %>
  <%= stylesheet_link_tag 'project_xml_sync', :plugin => 'redmine_project_xml_sync' %>
<% end %>

<div class='left half'>
  <h1><%= l(:import_tasks) %></h1>
  <%= render partial: 'about_import' %>
  <br />

  <p>
  <h3>XML</h3>
  <%= form_tag({:action => 'analyze', :id => @project}, :multipart => true) do %>
    <%= file_field_tag 'uploaded_file' %>
    <%= submit_tag l(:button_analyze) %>
  <% end %>
  </p>
  <br />

  <p>
  <h3>CSV</h3>
  <%= form_tag({:action => 'csv_import_match', :id => @project}, {:multipart => true}) do %>
    <fieldset class="box"><legend><%= l(:label_file_format) %></legend>
      <p><label><%=l(:label_file_encoding)%>:</label>
        <%= select_tag "csv_import_encoding",
            "<option value=\"U\">UTF8</option>" \
            "<option value=\"EUC\">EUC</option>" \
            "<option value=\"S\" selected>SJIS</option>" \
            "<option value=\"N\">None</option>".html_safe %></p>

      <p><label><%=l(:label_csv_import_splitter)%>:</label>
        <%= text_field_tag "csv_import_splitter", ',', {:size => 3, :maxlength => 1}%></p>

      <p><label><%=l(:label_csv_import_wrapper)%>:</label>
        <%= text_field_tag "csv_import_wrapper", '"', {:size => 3, :maxlength => 1}%></p>
    </fieldset>

    <label><%=l(:label_csv_import_notice)%></label><br/>

    <%= file_field_tag 'csv_import_file' %>
    <%= submit_tag l(:button_analyze) %>
  <% end %>
  </p>
</div>
<div class='right half'>
  <h1><%= l(:export_tasks) %></h1>
  <%= render partial: 'about_export' %>
  <br />

  <p>
  <h3>XML</h3>
  <%= form_tag({:action => 'export', :id => @project}, :multipart => true) do %>
    <%= submit_tag l(:button_export) %>
  <% end %>
  </p>
  <br />

  <p>
  <h3>CSV</h3>
  <%= form_tag({:action => 'csv_export', :id => @project}, :multipart => true) do %>
    <fieldset class="box"><legend><%= l(:label_file_format) %></legend>
      <p><label><%=l(:label_file_encoding)%>:</label>
        <%= select_tag "csv_export_encoding",
            "<option value=\"U\">UTF8</option>" \
            "<option value=\"S\" selected>SJIS</option>".html_safe %></p>
    </fieldset>
    <%= submit_tag l(:button_export) %>
  <% end %>
  </p>
</div>
