<%= stylesheet_link_tag 'project_xml_sync', plugin: 'redmine_project_xml_sync' %>
<div class='left half'>
  <h1><%= l(:import_tasks) %></h1>
  <%= form_for(:import, :url => {:action => 'analyze'}, :method => :post, :html => {:id => 'import', :multipart => true}) do |f| %>
    <%= render partial: 'about' %>
    <%= f.file_field 'xmlfile', accept: 'application/xml,application/gzip' %>
    <tr>
      <%= f.submit(l(:analyze), {name: 'import[analyze]', disable_with: l(:analyzing)}) %>
    </tr>
  <% end %>
</div>
<div class='right half'>
  <h1><%= l(:export_tasks) %></h1>
  <%= form_for(:import, :url => {:action => 'export'}, :method => :get, :html => {:id => 'export', :multipart => true}) do |f| %>
    <p><%= l(:generate_xml) %></p>
    <%= f.submit(l(:export_issue), {name: 'export'}) %>
  <% end %>
</div>
